.clock-container{
    display: inline-flex;
    text-align: justify;
    background: skyblue;
    padding: 80px;
}
.container{
    text-align: center;
    margin: 80px;
}
.hours{
    padding: 10px;
    border: 1px solid white;
    margin: 3px;
}
.minutes{
    padding: 10px;
    border: 1px solid white;
    margin: 3px;

}
.seconds{
    padding: 10px;
    border: 1px solid white;
    margin: 3px;
}

.colon{
    padding: 10px;
    font-size: 44px;
    color: aliceblue;
}